body {
    background-color: #cccbcb;
}

#chatting-content {
    max-width: 1024px;
    padding: 2em 3em;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}